.box{
   
    background-color: orange;
    max-height: 500px;
     max-width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
   
}
.btn{
    position: relative;
    margin-top: 15px;
    margin-left: 35%;
    background-color: blue;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 3px;

}
h1{
    text-align: center;
}
.box2{
   
    margin: auto;
    /* padding-top: 100px; */
    background-color: orange;
    max-height: 450px;
    max-width: 400px;
    /* visibility: hidden; */
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.btn2{
    position: relative;
    /* margin-top: 50px; */
    margin: auto;
    
    margin-left: 100px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
h5{
    text-align: center;
}
.input{
    position: relative;
    margin-left: 28%;
    border-radius: 3px;
}
.ratio{
    margin-left: 130px;
}